html, body {
    height: 100%;
  }
  body {
    background: linear-gradient(135deg, #044f48, #2a7561);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
    z-index: 1;
    /* background: url("./BGT2.jpg") repeat 0 0;
    background-size: cover; */
    /* filter: blur(); */
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

.button{
  background: linear-gradient(120deg, #103641, #0e3f24);
}


  .bg {
    clear: both;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("/img/BGT2.jpg") repeat 0 0;
    background-size: cover;
    filter: blur(80px);
    /* transform: scale(1.2); */
  }

  .chat {
    position: absolute;
    
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    max-width: 400px;
    height: 100%;
    max-height: 600px;
    z-index: 2; 
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    /*background: rgb(255, 255, 255);*/
    background: rgba(36, 38, 41, 88%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 10px;
    /* margin-top: 10px; */
  }

  @media (max-width: 500px) {

    .chat {
      position: absolute;
      
      top: auto;
      left: auto;  
      transform: translate(0%, -0%);
      max-width: 400px;
      height: 100%;
      max-height: 600px;
      z-index: 2; 
      overflow: hidden;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
      /*background: rgb(255, 255, 255);*/
      background: rgba(36, 38, 41, 88%);
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 10px;
      margin-top: 70px;
    }
    
  }

  

  @media (max-width: 380px){

    .chat {
      position: absolute;
      
      /* top: auto;
      left: auto;  */ 
      /* transform: translate(-50%, -50%); */ 
      max-width: 400px;
      height: 100%;
      max-height: 600px;
      z-index: 2; 
      overflow: hidden;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
      /*background: rgb(255, 255, 255);*/
      background: rgba(36, 38, 41, 88%);
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 10px;
      margin-top: -3px;
    }
  }

  .btn-outline-light {
    background: linear-gradient(120deg, #103540, #17482d);
    color: #FFF;
    margin: 5px;
  }

  .btn:hover {
    color: #FFF;
    border: 1px #FFF solid;
  }

  .btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
  }

  .btn-danger {
    background: linear-gradient(120deg, #830202, #940606);
  }

  .btn{
    font-weight: bold;
    font-size: 16px;
    border: 1px #FFF solid;
  }

  .chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
  }
  .chat-title h1, .chat-title h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    
  }
  .chat-title h2 {
    color: rgba(255, 255, 255, .5);
    font-size: 15px;
    letter-spacing: 1px;
  }

  .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    /*background: rgba(0, 0, 0, .3);*/
    background: linear-gradient(120deg, #0d404e, #0c6133);
    color: #fff;
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.267);
    font-weight: bold;
  }


  .messages {
    flex: 1 1 auto;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .message-box {
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0 , 0, 0.3);
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
  }

  .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, .7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
  }

  


  .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    
  }

  .message.message-personal {
    float: right;
    color: #fff;
    text-align: right;
    background: linear-gradient(120deg, #248a52, #257287);
    border-radius: 10px 10px 0 10px;
    margin-right: 10px;
  }

  .input-group-field{
    height: 40px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(37, 37, 37); 
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
}

/* .loader > img {
    width: 100px;
} */

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.carregando{
  width: 200px;
}

.loadingcircle{
  width: 100px;
}

.novasmensagens{
  color: white;
  text-align: center;
  background: green;
  font-size: 16px;
  padding: 1px 1px 1px 1px;
  border-radius: 10px;
  float: right;
}